<div ng-controller='QuestionController'>
	<a href='#/dashboard'>Home</a> | <a href='#/new_question'>Add a Question</a> | <a ng-href='#/' ng-click='logOff()'>Log off</a>

	<h1>the Question List...</h1>
	<h4 ng-bind='messages.message' class='message'></h4>

	

	<table class='dash_table'>
		<tr>
			<td class='search'></td>
			<td class='search'></td>
			<td class='search'><label><input type='text' ng-model='filter_name' placeholder='search questions...'/></label></td>
		</tr>
		<tr>
			<th>Question</th>
			<th>Answer Count</th>
			<th></th>
		</tr>
		<tr class='dash_row' ng-repeat="question in questions | filter:filter_name | orderBy:'-date'">
			<td>{{question.question}}</td>
			<td class='answer_count'>{{question.answer_count}}</td>
			<td class='button_td_dash'><button ng-click='answerQuestion(question._id)' class='answer_button'>Answer Question</button>  <button ng-click='showQuestion(question._id)'>Show Answers</button></td>
		</tr>
	</table>
</div><!-- end question controller -->