<div ng-controller='QuestionController'>
	<a href='#/dashboard'>Home</a> | <a href='#/new_question'>Add a Question</a> | <a ng-href='#/' ng-click='logOff()'>Log off</a>

	<h2>Create A New Question!</h2>
	<h4 ng-bind='errors.error' class='error'></h4>

	<table class='add_ans_table'>
		<tr>
			<td class='text_label'>Question: </td>
			<td><label class='new_q_lab'><textarea ng-model='newQuestion.question'></textarea></label></td>
		</tr>
		<tr>
			<td class='text_label'>Description: </td>
			<td><label class='new_q_lab'><textarea ng-model='newQuestion.description' placeholder='optional'></textarea></label></td>
		</tr>
	</table>

		<a ng-click='createQuestion()'><button>Submit</button></a>
		<a ng-href='#/'><button>Cancel</button></a> 

</div><!-- end question controller -->