<div ng-controller='QuestionController'>
	<a href='#/dashboard'>Home</a> | <a href='#/new_question'>Add a Question</a> | <a ng-href='#/' ng-click='logOff()'>Log off</a>

	<h2>{{question.question}}</h2>
	<p>{{question.description}}</p>

	<div class='response' ng-repeat="answer in question.answers | orderBy:'-like_count'">
		<h4>{{answer.author}} says:</h4>
		<p class='answer'>{{answer.answer}}</p>
		<p class='support'><small>{{answer.support}}</small></p>
		<p class='like_count'><small>{{answer.like_count}}</small>  <button class='like' ng-click='addLike(answer._id,question._id)'>Add Like</button>
	</div>

</div>